# 依赖安装
node_modules/
.pnp
.pnp.js

# 构建输出
.next/
out/
build/
dist/

# 缓存
.cache/
*.swc
*.tsbuildinfo

# 环境变量
.env*.local
.env

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 测试覆盖
coverage/

# PWA
*.workbox.*
