/**
 * MiniChart 样式
 */
@import '../../styles/design-tokens.less';

.mini-chart {
  width: 100%;
  display: flex;
  align-items: center;

  &--line {
    .echarts-for-react {
      svg {
        overflow: visible;
      }
    }
  }

  &--area {
    .echarts-for-react {
      svg {
        overflow: visible;
      }
    }
  }

  &--bar {
    .echarts-for-react {
      svg {
        overflow: visible;
      }
    }
  }

  &--progress {
    .echarts-for-react {
      svg {
        overflow: visible;
      }
    }
  }
}
